/* General Button Styles */
button {
    all: unset; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "uddigikyokasho-pro", sans-serif;
}

.btn-contact, .btn-contact-section {
    padding: 12px 25px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    background: #e95a0c;
    color: white;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    position: relative;
    z-index: 3;
}

.btn-contact:hover, .btn-contact-section:hover {
    background: white;
    color: #e95a0c;
    border: 2px solid #e95a0c;
}

/* ===== See More Button ===== */
.btn-see-more {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 400;
    width: 180px;
    border-radius: 25px;
    background: #ffffff;
    color: #e95a0c;
    border: 4px solid #e95a0c;
    transition: all 0.3s ease;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 3;
    justify-content: center;
}

.btn-see-more:hover {
    background: #e95a0c;
    color: #ffffff;
}

.btn-see-more i {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.btn-see-more:hover i {
    transform: translateX(3px);
}
