/* Global Styles */
body {
    font-family: "uddigikyokasho-pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    display: block;
    justify-content: center;
}

section {
    margin-bottom: 100px; 
}

/* Hero Section */
.hero {
    background-color: #ffffff;
    max-width: 1440px;
    margin-top: 0;
    margin: 0 auto;
    /*height: 100vh;*/
    overflow: hidden;
}

.hero img {
    width: 90%;
    height: auto;
    overflow: hidden;
    padding-left: 10%;
}

/* About Section */
.about-section {
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
}

.about-container {
    max-width: 1440px;
    margin: 0 auto;
}

.about-header {
    display: flex;
    flex-direction: column; /* Ensures elements stack vertically */
    align-items: center;
    gap: 0; /* Adds spacing between elements */
    margin-bottom: 30px; /* Adds space below the header */
}

.about-header img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto 10px;
}

.about-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: 400;
    margin: 0;
}

.about-divider {
    display: flex;
    justify-content: center;
    gap: 5px; 
    margin: 15px auto;
}

.about-divider span {
    width: 5px; 
    height: 5px;
    background-color: #e95a0c; 
    border-radius: 50%;
    display: inline-block;
}

.about-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

.about-image img {
    width: 100%;
    max-width: 850px;
}

.about-text {
    background: url("../images/card-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 50px;
    border-radius: 50px;
    border: 6px solid #e95a0c;
    text-align: left;
    width: 500px;
    height: 320px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 80px;
    transform: translate(-110px, 40px);
    overflow: hidden;
    position: relative;
}

.about-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    z-index: 1;
}

.about-text h3,
.about-text p {
    position: relative;
    z-index: 2; 
}

.about-text h3 {
    display: inline-block;
    font-size: 16px;
    color: #5F4328;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 5px;
}

.about-text p {
    display: inline-block;
    color: #5F4328;
    line-height: 1.7;
    font-weight: 400;
    border-radius: 5px;
}

.philosophy-section {
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
}

.philosophy-container {
    max-width: 1440px;
    margin: 0 auto;
}

.philosophy-header img {
    width: 70px;
    height: 60px;
    display: block;
    margin: 0 auto 10px;
}

.philosophy-header {
    display: flex;
    flex-direction: column; /* Ensures elements stack vertically */
    align-items: center;
    gap: 0; /* Adds spacing between elements */
    margin-bottom: 30px; /* Adds space below the header */
}

.philosophy-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: 400;
    margin: 0;
}

.philosophy-divider {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px auto;
}

.philosophy-divider span {
    width: 5px; 
    height: 5px;
    background-color: #e95a0c;
    border-radius: 50%;
    display: inline-block;
}

.philosophy-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

.philosophy-text {
    background: url("../images/card-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 40px;
    border-radius: 50px;
    border: 6px solid #e95a0c;
    text-align: left;
    max-width: 450px;
    max-height: 380px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 80px;
    transform: translate(120px, -0px);
    overflow: hidden;
    position: relative;
}

.philosophy-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    z-index: 1;
}

.philosophy-text h3, 
.philosophy-text p {
    position: relative;
    z-index: 2;
    display: inline-block;
    font-size: 16px;
    color: #5F4328;
    font-weight: 400;
}

.philosophy-image img {
    max-width: 850px
}

/* Features Section */
.features-section {
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
}

.features-container {
    max-width: 1440px;
    margin: 0 auto;
}

.features-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0; 
    margin-bottom: 30px; 
}

.features-header img {
    width: 50px;
    height: 50px;
}

.features-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: 400;
    margin: 0;
}

.features-divider {
    display: flex;
    justify-content: center;
    gap: 5px; 
    margin: 15px auto;
}

.features-divider span {
    width: 5px; 
    height: 5px;
    background-color: #e95a0c; 
    border-radius: 50%; 
    display: inline-block;
}

.features-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

.features-image img {
    max-width: 850px;
}

.features-text {
    background: url("../images/card-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 50px;
    border-radius: 50px;
    border: 6px solid #e95a0c;
    text-align: left;
    width: 500px;
    height: 320px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 80px;
    transform: translate(-110px, 40px);
    overflow: hidden;
    position: relative;
}

.features-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    z-index: 1;
}

.features-text h3,
.features-text p {
    position: relative;
    z-index: 2; 
}

.features-text h3 {
    display: inline-block;
    font-size: 16px;
    color: #5F4328;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.features-text p {
    display: inline-block;
    color: #5F4328;
    line-height: 1.5;
    font-weight: 400;
}

/* Blog Section */
.blog-section {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.blog-container {
    max-width: 1440px;
    margin: 0 auto;
}

.blog-header img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.blog-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: 500;
    margin: 0;
}

.blog-divider {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 15px auto;
}

.blog-divider span {
    width: 5px; /* Size of dots */
    height: 5px;
    background-color: #e95a0c; /* Orange color */
    border-radius: 50%; /* Makes it round */
    display: inline-block;
}

.blog-posts {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.blog-card {
    width: 400px;
    background: #ffffff;
    text-align: justify;
}

.blog-card img {
    width: 100%;
    border-radius: 10px;
}

.blog-date {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #5F4328;
}

.blog-text {
    font-size: 20px;
    color: #5F4328;
    line-height: 1.6;
    margin-top: 5px;
}

/* Blog Button */
.blog-button {
    margin-top: 40px;
}

/* Location Section */
.location-section {
    background-color: #ffffff;
    margin-top: 50px;
    text-align: center;
}

.location-container {
    max-width: 1440px;
    margin: 0 auto;
}

.location-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0; 
    margin-bottom: 30px; 
}

.location-header img {
    width: 40px;
    height: 60px;
}

.location-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: 400;
    margin: 0;
}

.location-divider {
    display: flex;
    justify-content: center;
    gap: 5px; 
    margin: 15px auto;
}

.location-divider span {
    width: 5px; 
    height: 5px;
    background-color: #e95a0c; 
    border-radius: 50%; 
    display: inline-block;
}

.location-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

.location-image img {
    max-width: 850px;
}

.location-text {
    background: url("../images/card-bg.jpg") no-repeat center center;
    background-size: cover;
    padding: 50px;
    padding-left: 80px;
    border-radius: 50px;
    border: 6px solid #EA5413;
    text-align: left;
    width: 500px;
    height: 330px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 80px;
    transform: translate(-130px, 20px);
    overflow: hidden;
    position: relative;
}

.location-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    z-index: 1;
}

.location-text h3,
.location-text p {
    position: relative;
    z-index: 2; 
}

.location-text h3 {
    display: inline-block;
    font-size: 16px;
    color: #5F4328;
    font-weight: 400;
    margin-bottom: 5;
    margin-top: 0;
}

.location-text p {
    flex-direction: column;
    color: #5F4328;
    line-height: 1;
    font-weight: 400;
}

.contact-section {
    background: url("../images/contact-bg.png") no-repeat center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
    text-align: center;
    margin-top: 80px;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.contact-container {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
}

.contact-header img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.contact-header h2 {
    font-size: 66px;
    color: #e95a0c;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-divider {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 40px;
}

.contact-divider span {
    width: 5px;
    height: 5px;
    background-color: #e95a0c;
    border-radius: 50%;
    display: inline-block;
}

.contact-header p {
    font-size: 16px;
    color: #5F4328;
    margin-top: 10px;
    font-weight: 500;
}
/* ===== Footer Section ===== */
.footer-section {
    background-color: #6A4022;
    /*padding: 40px 20px;*/
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 1440px;
}

/* Footer Container */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    max-height: 240px;
    padding-right: 40px;
    position: relative;
}

/* Footer Logo Container */
.footer-logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;

}

/* Orange Background Behind Logo */
.footer-logo-bg {
    background-color: #EA5413;
    border-radius: 0 40px 0 0;
    align-items: center;
    width: 480px; 
    height: 200px; 
    position: relative;
    padding-top: 80px;
    transform: translate(-1px, -20px);
}

.footer-logo-bg img {
    width: 252px;
    height: 78px;
}

.footer-copyright {
    font-size: 18px;
    color: white;
    padding-top: 30px;
    padding-left: 80px;
    text-align: left;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    gap: 15px 40px;
    max-width: 600px; 
    margin-left: auto; 
}

.footer-links a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    transition: color 0.3s ease;
    white-space: nowrap; /* Prevents text from breaking */
}

.footer-links a:hover {
    color: #f4a261;
}


/* Responsive Styles */
@media screen and (max-width: 1200px) {
    section {
        margin-bottom: 80px; 
    }

    .about-header h2,
    .philosophy-header h2, 
    .features-header h2,
    .blog-header h2,
    .location-header h2, 
    .contact-header h2 {
        font-size: 32px;
    }

    .about-header img, 
    .philosophy-header img, 
    .features-header img, 
    .blog-header img, 
    .contact-header img{
        width: 50px;
        height: 50px;
    }

    .location-header img {
        width: 40px;
        height: 50px;
    }

    .about-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 30px;
        border-radius: 50px;
        border: 6px solid #e95a0c;
        text-align: left;
        width: 480px;
        height: 320px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 80px;
        transform: translate(-90px, 20px);
        overflow: hidden;
        position: relative;
    }

    .about-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.7;
        font-weight: 400;
        margin: 0;
    }

    .philosophy-image img {
        max-width: 750px
    }

    .philosophy-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 30px;
        border-radius: 50px;
        border: 6px solid #e95a0c;
        text-align: left;
        width: 380px;
        max-height: 300px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 40px;
        transform: translate(100px, -20px);
        overflow: hidden;
        position: relative;
    }

    .philosophy-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
    }

    .features-image img {
        max-width: 750px
    }

    .features-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 30px;
        border-radius: 50px;
        border: 6px solid #e95a0c;
        text-align: left;
        width: 380px;
        max-height: 300px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 40px;
        transform: translate(-70px, -30px);
        overflow: hidden;
        position: relative;
    }

    .features-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
    }

    .location-image img {
        max-width: 750px
    }

    .location-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 30px;
        border-radius: 50px;
        border: 6px solid #e95a0c;
        text-align: left;
        width: 390px;
        max-height: 300px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 40px;
        transform: translate(-70px, -30px);
        overflow: hidden;
        position: relative;
    }

    .location-text p {
        display: column;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    section {
        margin-bottom: 60px; 
    }

    .about-header h2,
    .philosophy-header h2, 
    .features-header h2,
    .blog-header h2,
    .location-header h2, 
    .contact-header h2 {
        font-size: 28px;
    }

    .about-header img, 
    .philosophy-header img, 
    .features-header img, 
    .blog-header img, 
    .contact-header img{
        width: 50px;
        height: 50px;
    }

    .location-header img {
        width: 40px;
        height: 50px;
    }

    .about-content {
        display: flex;
        margin-top: 0;
        position: relative;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-direction: row;
        gap: 10px;
    }

    .about-image img {
        max-width: 650px;
    }

    .about-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 10px;
        border-radius: 15px;
        border: 4px solid #e95a0c;
        text-align: left;
        max-width: 40%;
        max-height: 60%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 80px;
        transform: translate(-10px, 20px);
        overflow: hidden;
        position: absolute;
    }
    .about-text::before{
        border-radius: 15px;
    }

    .about-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
        font-size: 14px;
    }

    .philosophy-image img {
        max-width: 650px
    }

    .philosophy-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 10px;
        border-radius: 15px;
        border: 4px solid #e95a0c;
        text-align: left;
        max-width: 50%;
        max-height: 60%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 80px;
        transform: translate(60px, 20px);
        overflow: hidden;
        position: relative;
    }
    .philosophy-text::before{
        border-radius: 15px;
    }

    .philosophy-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
        font-size: 14px;
    }

    .features-image img {
        max-width: 650px
    }

    .features-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 20px;
        border-radius: 15px;
        border: 4px solid #e95a0c;
        text-align: left;
        width: 100%;
        max-height: 40%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 40px;
        transform: translate(-70px, -20px);
        overflow: hidden;
        position: relative;
    }

    .features-text::before{
        border-radius: 15px;
    }

    .features-text p {
        display: inline-block;
        color: #5F4328;
        line-height: 1.7;
        font-weight: 400;
        margin: 0;
        font-size: 14px;
    }

    .location-image img {
        max-width: 650px
    }

    .location-text {
        background: url(../images/card-bg.jpg) no-repeat center center;
        background-size: cover;
        padding: 15px;
        border-radius: 25px;
        border: 4px solid #e95a0c;
        text-align: left;
        width: 100%;
        height: 50%;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        right: 0;
        bottom: 40px;
        transform: translate(-70px, -30px);
        overflow: hidden;
        position: relative;
    }

    .location-text::before{
        border-radius: 15px;
    }

    .location-text h3 {
        padding-left: 30px;
    }

    .location-text p {
        display: column;
        color: #5F4328;
        line-height: 1.5;
        font-weight: 400;
        margin: 0;
        font-size: 14px;
        padding-left: 30px;
    }   
}

@media screen and (max-width: 768px) {
    section {
        margin-bottom: 50px; 
    }

    .about-header h2, 
    .philosophy-header h2, 
    .features-header h2, 
    .contact-header h2, 
    .blog-button h2, 
    .location-header h2 {
        font-size: 24px;
    }

    .about-header img, 
    .philosophy-header img, 
    .features-header img, 
    .blog-header img, 
    .contact-header img{
        width: 35px;
        height: 35px;
    }
    
    .blog-posts {
        gap: 15px;
        margin-top: 30px;
    }

    .blog-card img {
        width: 100%;
        border-radius: 5px;
    }

    .blog-date{
        font-size: 16px;
        font-weight: 500;
    }

    .blog-text {
        font-size: 14px;
        color: #5F4328;
        line-height: 1.6;
        margin-top: 5px;
    }

    .contact-section {
        background: url("../images/contact-bg.png") no-repeat center center;
        background-size: cover;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 10px;
        text-align: center;
        margin-top: 80px;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }

    .contact-header p {
        font-size: 14px;
        font-weight: 400;
    }

    .footer-section {
        text-align: center;
        color: white;
        max-width: 100%;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        max-height: 130px;
        padding-right: 20px;
        position: relative;
    }

    .footer-logo-bg {
        background-color: #EA5413;
        border-radius: 0 20px 0 0;
        align-items: center;
        width: 350px;
        height: 150px;
        position: relative;
        transform: translate(-5px, -10px);
        padding: 0%;
    }

    .footer-logo-bg img {
        padding-top: 20px;
        max-width: 120px;
        max-height: 40px;
    }

    .footer-copyright {
        font-size: 10px;
        color: white;
        padding-left: 30px;
        text-align: left;
        padding-bottom: 20px;
    }

    .footer-links {
        gap: 5px 20px;
        max-width: 600px; 
        margin-left: 20px; 
    }

    .footer-links a {
        font-size: 10px;
    }

}